@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;
	--primary: #AE1416;
	--secondary: #CD1818;
	--light: #F9F9F9;
	--blue: #AE1416;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

html {
	overflow-y: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background: var(--grey);
	background-size: cover;
	background-size: cover;
	background-position: center;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;

}



input {
    background-color: white;
	color: black;
  }

  label{
	color: black;
  }
/* SIDEBAR */
#sidebar {

	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 280px;
	height: 100%;
	background: var(--light);
	z-index: 20;
	font-family: var(--poppins);
	transition: .3s ease;
	overflow-x: hidden;
	overflow-y: visible;
	scrollbar-width: auto;
}

#sidebar::--webkit-scrollbar {
	display: none;
	/* width: 5px;
	background-color: red; */

}

#sidebar.hide {
	width: 50px;


}

#sidebar.hide li {
	width: 100%;
	/* padding-left: 100px; */
	text-align: justify;
}

#sidebar.hide:hover {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: var(--light);
	z-index: 2000;
	font-family: var(--poppins);
	transition: .4s ease;
	overflow-x: hidden;
	/* overflow-y: hidden; */
	scrollbar-width: none;
}

#sidebar .brand {
	position: fixed;
	font-size: 24px;
	font-weight: 700;
	height: 60px;
	display: flex;
	align-items: center;
	color: var(--blue);
	position: sticky;
	top: 0;
	margin-top: 10px;
	left: 0;
	background: var(--light);
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}

#sidebar .hide .brand {
	margin-top: 20px;
	width: 100%;
	margin-bottom: 100px;
	display: flex;
	justify-content: center;
}

#sidebar .active {

	color: white;
	background: var(--primary);

	min-width: 260px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;

	border-bottom-left-radius: 10px;
}

#sidebar .active .text {
	color: white;

}
#sidebar .active :hover  {
	color: white;
}

#sidebar li .active {

	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow;
	transition-property: box-shadow;

	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);


}

#sidebar .active li .text:hover {

	top: 0;
	left: 0;
	color: white;
	background-color: var(--blue);
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	color: white;

}

#sidebar .active .logo {
	color: white;

}

/* #sidebar .active li:hover {
	background: var(--primary);
	width: 270px;
	border-top-left-radius: 20px;
} */

#sidebar li.active a {
	color: white;
}

#sidebar.hide li a {
	width: 100%;
	transition: width .3s ease;
}

#sidebar li a.logout {
	color: var(--red);
}

#sidebar li a:hover {
	color: var(--blue);
}

#sidebar li a .bx {
	min-width: calc(60px - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}

/* SIDEBAR */




/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 250px);
	left: 280px;
	transition: .3s ease;
}

#sidebar.hide~#content {

	width: calc(100% - 45px);
	left: 50px;
}




/* NAVBAR */
#content .nav {
	height: 56px;
	background: var(--primary);
	padding: 0 40px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	color: white;
	font-family: var(--poppins);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 20;
}

/* #content .nav::before {
	content: '';
	position: relative;
	width: 80px;
	background:  var(--primary);
	height: 70px;

	bottom: -50px;
	left: -70px;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
} */

#content .nav a {
	color: var(--dark);
}

#content .nav .bx.bx-menu {
	cursor: pointer;
	color: white;
}

#content .nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}

#content .nav .nav-link:hover {
	color: var(--blue);
}

#content .nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}

#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}

#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}

#content .nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--primary);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}

#content .nav .notification {
	font-size: 20px;
	position: relative;
}

#content .nav .notification .num {
	position: absolute;
	top: -6px;
	right: -6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	color: var(--light);
	font-weight: 700;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}

/* #content nav .switch-mode {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
}
#content nav .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--blue);
	border-radius: 50%;
	transition: all .3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
} */
/* NAVBAR */




/* MAIN */

#content main {
	width: 100%;
	padding: 36px 40px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);


}

#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}

#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}

#content main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}

#content main .head-title .left .breadcrumb li {
	color: var(--dark);
}

#content main .head-title .left .breadcrumb li a {
	color: var(--dark-grey);
	pointer-events: none;
}

#content main .head-title .left .breadcrumb li a.active {
	color: var(--blue);
	pointer-events: unset;
}

#content main .head-title .btn-download {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--blue);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}

#content main .head-title .btn-excel {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--yellow);
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}



#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}

#content main .box-info li {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}

#content main .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#content main .box-info li:nth-child(1) .bx {
	background: var(--light-blue);
	color: var(--blue);
}

#content main .box-info li:nth-child(2) .bx {
	background: var(--light-yellow);
	color: var(--yellow);
}

#content main .box-info li:nth-child(3) .bx {
	background: var(--light-orange);
	color: var(--orange);
}

#content main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}

#content main .box-info li .text p {
	color: var(--dark);
}





#content main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}

#content main .table-data>div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}

#content main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}

#content main .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}

#content main .table-data .head .bx {
	cursor: pointer;
}

#content main .table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}

#content main .table-data .order table {
	width: 100%;
	border-collapse: collapse;
}

#content main .table-data .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}

#content main .table-data .order table td {
	padding: 16px 0;
}

#content main .table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}

#content main .table-data .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}

#content main .table-data .order table tbody tr:hover {
	background: var(--grey);
}

#content main .table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}

#content main .table-data .order table tr td .status.completed {
	background: var(--blue);
}

#content main .table-data .order table tr td .status.process {
	background: var(--yellow);
}

#content main .table-data .order table tr td .status.pending {
	background: var(--orange);
}


#content main .table-data .todo {
	flex-grow: 1;
	flex-basis: 300px;
}

#content main .table-data .todo .todo-list {
	width: 100%;
}

#content main .table-data .todo .todo-list li {
	width: 100%;
	margin-bottom: 16px;
	background: var(--grey);
	border-radius: 10px;
	padding: 14px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#content main .table-data .todo .todo-list li .bx {
	cursor: pointer;
}

#content main .table-data .todo .todo-list li.completed {
	border-left: 10px solid var(--blue);
}

#content main .table-data .todo .todo-list li.not-completed {
	border-left: 10px solid var(--orange);
}

#content main .table-data .todo .todo-list li:last-child {
	margin-bottom: 0;
}

.footer {
	position:absolute;
	top: 0;
	bottom: 0;
	width: auto;
}
/* MAIN */
/* CONTENT */









@media screen and (max-width: 768px) {
	#sidebar {
		width: 280px;
	}

	#content {
		width: 100%;
		left: 280px;
	}

	#content nav .nav-link {
		display: none;
	}
}






@media screen and (max-width: 576px) {
	#content {
		width: 100%;
		left: 0;
	}

	#content nav  {
		width: max-content;
	}
	#sidebar{
		width: 5px;
	}
	#content main {
	
		padding: 5px;
		font-family: var(--poppins);
	
	
	
	}
	#content main .br {
	
		text-align: center;
		font-family: var(--poppins);
	
	
	
	}
	#content main .br .breadcrumb2 ul {
	
		text-align: center;
		padding-left: 5px;
		font-family: var(--poppins);
	
	
	
	}
	#sidebar.hide li {
		width: 100%;
		
		text-align: justify;
	}
	
	#content nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#content nav form.show .form-input input {
		display: block;
		width: 100%;
	}

	#content nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	#content nav form.show~.notification,
	#content nav form.show~.profile {
		display: none;
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}

	#content main .table-data .head {
		min-width: 420px;
	}

	#content main .table-data .order table {
		min-width: 420px;
	}

	#content main .table-data .todo .todo-list {
		min-width: 420px;
	}
	.dp__theme_light {
		--dp-background-color: #ffffff;
		--dp-text-color: #212121;
		--dp-hover-color: #f3f3f3;
		--dp-hover-text-color: #212121;
		--dp-hover-icon-color: #959595;
		--dp-primary-color: #1976d2;
		--dp-primary-text-color: #f8f5f5;
		--dp-secondary-color: #c0c4cc;
		--dp-border-color: #ddd;
		--dp-menu-border-color: #ddd;
		--dp-border-color-hover: #aaaeb7;
		--dp-disabled-color: #f6f6f6;
		--dp-scroll-bar-background: #f3f3f3;
		--dp-scroll-bar-color: #959595;
		--dp-success-color: #76d275;
		--dp-success-color-disabled: #a3d9b1;
		--dp-icon-color: #959595;
		--dp-danger-color: #ff6f60;
		--dp-highlight-color: rgba(25, 118, 210, 0.1);
	 }
	 .dp__theme_dark {
		--dp-background-color: #212121;
		--dp-text-color: #ffffff;
		--dp-hover-color: #484848;
		--dp-hover-text-color: #ffffff;
		--dp-hover-icon-color: #959595;
		--dp-primary-color: #005cb2;
		--dp-primary-text-color: #ffffff;
		--dp-secondary-color: #a9a9a9;
		--dp-border-color: #2d2d2d;
		--dp-menu-border-color: #2d2d2d;
		--dp-border-color-hover: #aaaeb7;
		--dp-disabled-color: #737373;
		--dp-scroll-bar-background: #212121;
		--dp-scroll-bar-color: #484848;
		--dp-success-color: #00701a;
		--dp-success-color-disabled: #428f59;
		--dp-icon-color: #959595;
		--dp-danger-color: #e53935;
		--dp-highlight-color: rgba(0, 92, 178, 0.2);
	 }
}